body {
    background-color: white;
    color: black;
}

div.input-container {
    text-align: left;
    width: 109%;
}

input.inData {
    border: none;
    outline: none;
    width: 90%;
    height: 30px;
    border-radius: 5px;
}
div#inputs {
    background-color: #367bfa;
    width: 30%;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    color: white;
    text-align: center;
}
input#btn {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}